@font-face {
  font-family: 'Space Grotesk';
  src: url('./Fonts/SpaceGrotesk-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./Fonts/Outfit-Medium.woff2') format('woff2');
  font-style: normal;
}
