.main {
  width: 77.5rem;
  margin: 0 auto;
}

.studies__block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk";
  min-height: 20.375rem;
  color: var(--color-white);
  background-color: var(--color-dark);
  padding-block: 3.75rem;
  border-radius: 2.8125rem;
}
.studies__block :last-child {
  border: none;
}
.studies__block-info {
  font-size: 1.0625rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-right: 0.0625rem solid var(--color-white);
}
.studies__block-info p {
  font-weight: 200;
}
.studies__block-link {
  display: flex;
  align-items: end;
  cursor: pointer;
  padding-top: 1.25rem;
  padding-bottom: 1.4375rem;
}
.studies__block-link p {
  padding-right: 0.9375rem;
  color: var(--color-grean);
}

.process__block {
  font-family: "Space Grotesk";
  border: 0.0625rem solid var(--color-black);
  border-bottom: 0.3125rem solid;
  border-radius: 2.8125rem;
  height: 10rem;
  margin-bottom: 1.875rem;
}
.process__block-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5625rem;
  padding-inline: 3.75rem;
}
.process__block-title article {
  display: flex;
  align-items: center;
}
.process__block-title h1 {
  font-size: 3.75rem;
  padding-right: 2.1875rem;
}
.process__block-title h2 {
  font-size: 1.875rem;
}
.process__block-btn {
  cursor: pointer;
  border-radius: 3.125rem;
  background-color: var(--color-white);
  width: 3.625rem;
  height: 3.625rem;
}

.content {
  width: 77.5rem;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  background-color: white;
  color: var(--color-dark);
  height: 4.25rem;
  width: 14.4375rem;
  border-radius: 0.875rem;
  font-family: "Space Grotesk";
  font-size: 1.25rem;
  transition: all 0.3s linear;
}

.navigation__bar {
  display: flex;
  justify-content: space-between;
  font-family: "Space Grotesk";
  padding-top: 1.875rem;
}
.navigation__bar-ol {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  font-size: 1.25rem;
}
.navigation__bar-ol a {
  color: var(--color-dark);
}
.navigation__bar-button:hover {
  color: var(--color-grey);
  background-color: var(--color-dark);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Space Grotesk";
  padding-block: 4.375rem;
}
.header__title {
  font-size: 3.125rem;
  line-height: 3.5rem;
}
.header__descrip {
  font-size: 1.25rem;
  padding-block: 2.1875rem;
}
.header__button.button {
  width: 16.5rem;
  border: none;
  color: var(--color-grey);
  background-color: var(--color-dark);
  transition: all 0.3s ease-in-out;
}
.header__button:hover {
  color: var(--color-dark);
  background-color: var(--color-grean);
}
.header__logo-types {
  display: flex;
  justify-content: space-between;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2.5rem;
  width: 77.5rem;
  margin: 0 auto;
  padding-bottom: 7.75rem;
  font-family: "Space Grotesk";
}
.grid__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 37.5rem;
  height: 19.375rem;
  border: 0.0625rem solid var(--color-dark);
  border-bottom: 0.3125rem solid;
  border-radius: 2.8125rem;
}
.grid__card-h2 {
  width: fit-content;
  text-align: center;
  padding: 0.3125rem;
  border-radius: 0.4375rem;
  background-color: var(--color-grean);
}
.grid__card-link {
  display: flex;
  align-items: center;
}
.grid__card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 0.9375rem;
  width: 2.5625rem;
  height: 2.5625rem;
  border: 0;
  border-radius: 3.125rem;
  background-color: var(--color-dark);
}
.grid__span {
  display: flex;
  flex-direction: column;
  gap: 5.8125rem;
}

.grean_card {
  background-color: var(--color-grean);
}

.white-card {
  background-color: var(--color-grey);
}
.white-btn {
  background-color: var(--color-grey);
}
.white-p {
  color: var(--color-grey);
}

.dark_card {
  background-color: var(--color-dark);
}

.svg-arrow {
  fill: var(--color-dark);
}

.article {
  display: flex;
  align-items: center;
  width: 77.5rem;
  margin: 0 auto;
  font-family: "Space Grotesk";
  padding-top: 8.75rem;
  padding-bottom: 5rem;
  font-size: 1.125rem;
}
.article__title {
  width: fit-content;
  height: 3.1875rem;
  font-size: 2.5rem;
  text-align: center;
  background-color: var(--color-grean);
  border-radius: 0.4375rem;
  padding: 0.5rem;
  margin-right: 2.5rem;
}

.info-proposal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11.625rem;
  font-family: "Space Grotesk";
  width: 77.5rem;
  height: 21.6875rem;
  border-radius: 2.8125rem;
  background-color: var(--color-grey);
}
.info-proposal h2 {
  font-size: 1.75rem;
}
.info-proposal p {
  font-size: 1.25rem;
}
.info-text {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}
.info-btn {
  cursor: pointer;
  font-family: "Space Grotesk";
  width: 18rem;
  height: 4.25rem;
  color: var(--color-grey);
  border: none;
  border-radius: 0.875rem;
  font-size: 1rem;
  background-color: var(--color-dark);
}

body {
  font-family: sans-serif;
  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./Fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("./Fonts/Outfit-Medium.woff2") format("woff2");
  font-style: normal;
}
:root {
  --color-white: #fff;
  --color-grey: #f3f3f3;
  --color-grean: #b9ff66;
  --color-dark: #191a23;
  --color-black: #000;
}

/*# sourceMappingURL=styles.css.map */
