@use '../helpers/' as *;

.article {
  display: flex;
  align-items: center;
  width: rem(1240);
  margin: 0 auto;
  font-family: 'Space Grotesk';
  padding-top: rem(140);
  padding-bottom: rem(80);
  font-size: rem(18);

  &__title {
    width: rem(178);
    height: rem(51);
    font-size: rem(40);
    text-align: center;
    background-color: var(--color-grean);
    border-radius: rem(7);
    margin-right: rem(40);
  }
}
