@use '../helpers/' as *;

.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Space Grotesk';
    padding-block: rem(70);
  }

  &__title {
    font-size: rem(50);
    line-height: rem(56);
  }

  &__descrip {
    font-size: rem(20);
    padding-block: rem(35);
  }

  &__button.button {
    width: rem(264);
    border: none;
    color: var(--color-grey);
    background-color: var(--color-dark);
    transition: all 0.3s ease-in-out;
  }

  &__button:hover {
    color: var(--color-dark);
    background-color: var(--color-grean);
  }

  &__logo-types {
    display: flex;
    justify-content: space-between;
  }
}
