@use '../helpers/' as *;

.main {
  width: rem(1240);
  margin: 0 auto;
}

.studies__block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: rem(326);
  padding-block: rem(60);
  border-radius: rem(45);
  color: var(--color-white);
  background-color: var(--color-dark);
  font-family: 'Space Grotesk';

  :last-child {
    border: none;
  }

  &-info {
    padding-left: rem(64);
    padding-right: rem(64);
    font-size: rem(17);
    border-right: rem(1) solid var(--color-white);

    p {
      font-weight: 200;
    }
  }

  &-link {
    display: flex;
    align-items: end;
    padding-top: rem(20);
    padding-bottom: rem(23);
    cursor: pointer;

    p {
      padding-right: rem(15);
      color: var(--color-grean);
    }
  }
}

.process__block {
  height: rem(160);
  margin-bottom: rem(30);
  border: rem(1) solid var(--color-black);
  border-bottom: rem(5) solid;
  border-radius: rem(45);
  font-family: 'Space Grotesk';

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(41);
    padding-inline: rem(60);

    article {
      display: flex;
      align-items: center;
    }

    h1 {
      font-size: rem(60);
      padding-right: rem(35);
    }

    h2 {
      font-size: rem(30);
    }
  }

  &-btn {
    width: rem(58);
    height: rem(58);
    cursor: pointer;
    border-radius: rem(50);
    background-color: var(--color-white);
  }
}

.employees {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: rem(40);
  font-family: 'Space Grotesk';

  &__block {
    width: rem(387);
    height: rem(331);
    border: rem(1) solid var(--color-black);
    border-bottom: rem(5) solid;
    border-radius: rem(45);
  }
  &__info {
    position: relative;
    display: flex;
    padding: rem(40) rem(35) rem(28) rem(35);
  }

  &__info::after {
    position: absolute;
    bottom: 0;
    left: 9%;
    width: rem(317);
    border: rem(1) solid var(--color-black);
    content: '';
  }

  section {
    padding-top: rem(54);
    padding-left: rem(20);
    padding-right: rem(9);
  }

  p {
    font-size: rem(18);
  }

  &__exp {
    padding-top: rem(28);
    padding-inline: rem(35);
  }

  &__watch-team {
    width: rem(270);
    height: rem(68);
    margin-top: rem(40);
    margin-left: rem(970);
    font-family: 'Space Grotesk';
    font-size: rem(20);
    color: var(--color-white);
    background-color: var(--color-dark);
    border: none;
    border-radius: rem(14);
    cursor: pointer;
  }
}
