@use '../helpers/' as *;

.button {
  height: rem(68);
  width: rem(231);
  font-family: 'Space Grotesk';
  font-size: rem(20);
  cursor: pointer;
  background-color: white;
  color: var(--color-dark);
  border-radius: rem(14);
  transition: all 0.3s linear;
}

.navigation__bar {
  display: flex;
  justify-content: space-between;
  font-family: 'Space Grotesk';
  padding-top: rem(30);

  &-ol {
    display: flex;
    align-items: center;
    gap: rem(40);
    font-size: rem(20);
  }

  &-ol a {
    color: var(--color-dark);
  }

  &-button:hover {
    color: var(--color-grey);
    background-color: var(--color-dark);
  }
}
